body {
background-image: url(../images/restaurant.jpg);
margin-bottom: 2%;
margin-top: 2%;
}
.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family:sans-serif;
    color: cyan;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 300px;
}
.jumbotron {
    background-image: url(../images/osiri_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2%;
    margin-left: 2%;
* {
  text-align: center;
  color: gold;
  font-size: 20px;

}

h1 {
  font-family: 'Dancing Script', cursive;
}

#menus {
  font-family: 'Great Vibes', cursive;
}

#price {
  display: none;
  font-family: 'Sacramento', cursive;
}
#price p {
  color: black;
    font-weight: 700;
    font-size: 24px;
}
body {
  background-image: url(../images/osiri.jpg);
}
